In [72]:
import pandas as pd
hustle = pd.read_csv('combined_hustle.csv')

In [127]:
box = pd.read_csv('combined_box.csv')

In [128]:
advanced = pd.read_csv('combined_advanced.csv')
advanced

,PLAYER,MIN,OFFRTG,DEFRTG,NETRTG,AST%,AST/TO,AST RATIO,OREB%,DREB%,REB%,TO RATIO,EFG%,TS%,USG%,PACE,PIE,Game ID
0,Bennedict MathurinB. MathurinF,25:50,127.4,106.6,20.9,20.0,2.5,20.8,0.0,13.8,7.4,8.3,46.7,53.7,27.5,114.26,11.7,202310250IND
1,Obi ToppinO. ToppinF,19:14,137.0,121.7,15.2,5.3,0.0,10.0,5.0,17.6,10.8,0.0,55.6,58.3,17.0,114.80,9.8,202310250IND
2,Myles TurnerM. TurnerC,23:20,137.0,109.1,27.9,4.2,0.5,8.3,0.0,29.6,18.2,16.7,62.5,61.9,19.3,112.11,8.5,202310250IND
3,Bruce BrownB. BrownG,27:12,141.0,112.7,28.3,3.8,1.0,7.1,4.2,6.7,5.6,7.1,100.0,101.0,18.8,109.41,12.7,202310250IND
4,Tyrese HaliburtonT. HaliburtonG,26:54,125.0,115.6,9.4,52.4,3.7,36.7,0.0,10.3,5.2,10.0,62.5,62.5,25.7,114.21,16.8,202310250IND
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Jarace WalkerJ. Walker,6:51,157.1,121.4,35.7,0.0,0.0,0.0,25.0,11.1,15.4,0.0,75.0,75.0,13.3,98.10,8.8,202403120OKC
996,Kendall BrownK. Brown,DNP - Coach's Decision,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,202403120OKC
997,Isaiah JacksonI. Jackson,DNP - Coach's Decision,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,202403120OKC
998,James JohnsonJ. Johnson,DND - Injury/Illness,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,202403120OKC
999,TOTALS,NaN,116.3,106.7,9.6,70.8,3.8,24.2,11.6,71.2,46.1,8.7,59.0,62.1,100.0,104.00,60.0,202403120OKC

In [129]:
box_player = box[~box['PLAYER'].str.contains('TOTALS')]

In [130]:
# Remove all rows where 'FGA' column is null
box_player = box_player.dropna(subset=['FGA'])

In [131]:
box_player

,PLAYER,MIN,FGM,FGA,FG%,3PM,3PA,3P%,FTM,FTA,...,DREB,REB,AST,STL,BLK,TO,PF,PTS,+/-,Game ID
0,Bennedict MathurinB. MathurinF,25:50,6.0,15.0,40.0,2.0,6.0,33.3,4.0,4.0,...,4.0,4.0,5.0,2.0,0.0,2.0,1.0,18.0,14.0,202310250IND
1,Obi ToppinO. ToppinF,19:14,4.0,9.0,44.4,2.0,5.0,40.0,1.0,1.0,...,3.0,4.0,1.0,1.0,0.0,0.0,0.0,11.0,7.0,202310250IND
2,Myles TurnerM. TurnerC,23:20,5.0,8.0,62.5,0.0,2.0,0.0,1.0,2.0,...,8.0,8.0,1.0,0.0,3.0,2.0,4.0,11.0,14.0,202310250IND
3,Bruce BrownB. BrownG,27:12,8.0,11.0,72.7,6.0,8.0,75.0,2.0,2.0,...,2.0,3.0,1.0,1.0,0.0,1.0,3.0,24.0,15.0,202310250IND
4,Tyrese HaliburtonT. HaliburtonG,26:54,9.0,16.0,56.3,2.0,6.0,33.3,0.0,0.0,...,3.0,3.0,11.0,1.0,2.0,3.0,1.0,20.0,6.0,202310250IND
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
991,Obi ToppinO. Toppin,18:39,4.0,6.0,66.7,0.0,1.0,0.0,2.0,4.0,...,3.0,4.0,1.0,0.0,0.0,0.0,1.0,10.0,0.0,202403120OKC
992,Jalen SmithJ. Smith,17:58,2.0,5.0,40.0,0.0,2.0,0.0,2.0,2.0,...,8.0,9.0,3.0,0.0,1.0,1.0,1.0,6.0,3.0,202403120OKC
993,T.J. McConnellT. McConnell,17:29,4.0,8.0,50.0,1.0,1.0,100.0,0.0,0.0,...,0.0,0.0,4.0,1.0,0.0,1.0,0.0,9.0,3.0,202403120OKC
994,Ben SheppardB. Sheppard,17:27,2.0,5.0,40.0,0.0,3.0,0.0,0.0,0.0,...,1.0,2.0,0.0,0.0,0.0,0.0,1.0,4.0,-2.0,202403120OKC
995,Jarace WalkerJ. Walker,6:51,1.0,2.0,50.0,1.0,2.0,50.0,0.0,0.0,...,1.0,2.0,0.0,0.0,0.0,0.0,0.0,3.0,5.0,202403120OKC

In [105]:
hustle_player = hustle[~hustle['PLAYER'].str.contains('TOTALS')]
hustle_player

,PLAYER,MIN,SCREEN\nAST,SCREEN\nAST PTS,deflections,OFF LOOSE BALLS\nRECOVERED,DEF LOOSE BALLS\nRECOVERED,LOOSE BALLS\nRECOVERED,CHARGES\nDRAWN,CONTESTED\n2PT SHOTS,CONTESTED\n3PT SHOTS,CONTESTED\nSHOTS,OFF\nBOX OUTS,DEF\nBOX OUTS,BOX OUTS,Game ID
0,Bennedict MathurinB. MathurinF,25:50,1,2,3,0,0,0,0,1,2,3,0,1,1,202310250IND
1,Obi ToppinO. ToppinF,19:14,2,5,1,0,1,1,0,3,0,3,0,1,1,202310250IND
2,Myles TurnerM. TurnerC,23:20,7,16,0,0,0,0,0,6,2,8,0,2,2,202310250IND
3,Bruce BrownB. BrownG,27:12,0,0,1,0,0,0,0,3,3,6,0,0,0,202310250IND
4,Tyrese HaliburtonT. HaliburtonG,26:54,0,0,2,0,0,0,0,2,1,3,0,0,0,202310250IND
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
792,Obi ToppinO. Toppin,18:39,0,0,0,0,0,0,0,1,1,2,0,0,0,202403120OKC
793,Jalen SmithJ. Smith,17:58,3,6,0,0,0,0,0,1,0,1,0,1,1,202403120OKC
794,T.J. McConnellT. McConnell,17:29,0,0,3,0,0,0,0,0,1,1,0,0,0,202403120OKC
795,Ben SheppardB. Sheppard,17:27,0,0,0,0,0,0,0,2,0,2,0,1,1,202403120OKC
796,Jarace WalkerJ. Walker,6:51,0,0,0,0,0,0,0,1,0,1,0,0,0,202403120OKC

In [132]:
advanced_player = advanced[~advanced['PLAYER'].str.contains('TOTALS')]
advanced_player = advanced_player.dropna(subset=['OFFRTG'])
advanced_player

,PLAYER,MIN,OFFRTG,DEFRTG,NETRTG,AST%,AST/TO,AST RATIO,OREB%,DREB%,REB%,TO RATIO,EFG%,TS%,USG%,PACE,PIE,Game ID
0,Bennedict MathurinB. MathurinF,25:50,127.4,106.6,20.9,20.0,2.5,20.8,0.0,13.8,7.4,8.3,46.7,53.7,27.5,114.26,11.7,202310250IND
1,Obi ToppinO. ToppinF,19:14,137.0,121.7,15.2,5.3,0.0,10.0,5.0,17.6,10.8,0.0,55.6,58.3,17.0,114.80,9.8,202310250IND
2,Myles TurnerM. TurnerC,23:20,137.0,109.1,27.9,4.2,0.5,8.3,0.0,29.6,18.2,16.7,62.5,61.9,19.3,112.11,8.5,202310250IND
3,Bruce BrownB. BrownG,27:12,141.0,112.7,28.3,3.8,1.0,7.1,4.2,6.7,5.6,7.1,100.0,101.0,18.8,109.41,12.7,202310250IND
4,Tyrese HaliburtonT. HaliburtonG,26:54,125.0,115.6,9.4,52.4,3.7,36.7,0.0,10.3,5.2,10.0,62.5,62.5,25.7,114.21,16.8,202310250IND
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
991,Obi ToppinO. Toppin,18:39,97.6,100.0,-2.4,7.7,0.0,11.1,4.5,15.0,9.5,0.0,66.7,64.4,17.4,104.24,12.6,202403120OKC
992,Jalen SmithJ. Smith,17:58,110.3,108.1,2.1,21.4,3.0,30.0,5.6,32.0,20.9,10.0,40.0,51.0,16.3,101.52,16.5,202403120OKC
993,T.J. McConnellT. McConnell,17:29,113.2,111.1,2.0,33.3,4.0,30.8,0.0,0.0,0.0,7.7,56.3,56.3,21.4,101.58,11.3,202403120OKC
994,Ben SheppardB. Sheppard,17:27,110.3,121.6,-11.4,0.0,0.0,0.0,5.9,4.8,5.3,0.0,40.0,40.0,11.9,104.53,1.7,202403120OKC
995,Jarace WalkerJ. Walker,6:51,157.1,121.4,35.7,0.0,0.0,0.0,25.0,11.1,15.4,0.0,75.0,75.0,13.3,98.10,8.8,202403120OKC

In [133]:
# Define a function to clean the player names
def clean_pos_name(player):
    # Remove the last character if it is an uppercase letter
    if player[-1].isupper():
        player = player[:-1]
    return player
# Define a function to clean the player names
def clean_player_name(player):
    # Split the player name by the last "." and keep one letter in front
    parts = player.rsplit('.', 1)
    if len(parts) > 1:
        cleaned_name = parts[-2][-1] + '.' + parts[-1]
    else:
        cleaned_name = player
    return cleaned_name

# Apply the function to the 'PLAYER' column
hustle_player['PLAYER'] = hustle_player['PLAYER'].apply(clean_pos_name)

C:\Users\user\AppData\Local\Temp\ipykernel_30156\28321686.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hustle_player['PLAYER'] = hustle_player['PLAYER'].apply(clean_pos_name)

In [112]:
# Apply the function to the 'PLAYER' column
hustle_player['PLAYER'] = hustle_player['PLAYER'].apply(clean_pos_name)
# Apply the function to the 'PLAYER' column
hustle_player['PLAYER'] = hustle_player['PLAYER'].apply(clean_player_name)
print(hustle_player['PLAYER'].unique())

['B. Mathurin' 'O. Toppin' 'M. Turner' 'B. Brown' 'T. Haliburton'
 'J. Smith' 'B. Hield' 'A. Nembhard' 'A. Nesmith' 'I. Jackson'
 'T. McConnell' 'J. Nwora' 'J. Walker' 'B. Sheppard' 'D. Theis'
 'J. Johnson' 'K. Brown' 'O. Tshiebwe' 'P. Siakam' 'D. McDermott']

C:\Users\user\AppData\Local\Temp\ipykernel_30156\1164326175.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hustle_player['PLAYER'] = hustle_player['PLAYER'].apply(clean_pos_name)
C:\Users\user\AppData\Local\Temp\ipykernel_30156\1164326175.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hustle_player['PLAYER'] = hustle_player['PLAYER'].apply(clean_player_name)

In [134]:
# Apply the function to the 'PLAYER' column
box_player['PLAYER'] = box_player['PLAYER'].apply(clean_pos_name)
# Apply the function to the 'PLAYER' column
box_player['PLAYER'] = box_player['PLAYER'].apply(clean_player_name)
print(box_player['PLAYER'].unique())

['B. Mathurin' 'O. Toppin' 'M. Turner' 'B. Brown' 'T. Haliburton'
 'J. Smith' 'B. Hield' 'A. Nembhard' 'A. Nesmith' 'I. Jackson'
 'T. McConnell' 'J. Nwora' 'J. Walker' 'B. Sheppard' 'D. Theis'
 'J. Johnson' 'K. Brown' 'O. Tshiebwe' 'P. Siakam' 'D. McDermott']

In [135]:
# Apply the function to the 'PLAYER' column
advanced_player['PLAYER'] = advanced_player['PLAYER'].apply(clean_pos_name)
# Apply the function to the 'PLAYER' column
advanced_player['PLAYER'] = advanced_player['PLAYER'].apply(clean_player_name)

In [119]:
# Merge box_player and hustle_player on 'PLAYER' and 'Game ID' columns
merged_data = pd.merge(pd.merge(box_player, hustle_player, on=['PLAYER', 'Game ID']), advanced_player, on=['PLAYER', 'Game ID'])
merged_data

,PLAYER,MIN_x,FGM,FGA,FG%,3PM,3PA,3P%,FTM,FTA,...,AST RATIO,OREB%,DREB%,REB%,TO RATIO,EFG%,TS%,USG%,PACE,PIE
0,B. Mathurin,25:50,6.0,15.0,40.0,2.0,6.0,33.3,4.0,4.0,...,20.8,0.0,13.8,7.4,8.3,46.7,53.7,27.5,114.26,11.7
1,O. Toppin,19:14,4.0,9.0,44.4,2.0,5.0,40.0,1.0,1.0,...,10.0,5.0,17.6,10.8,0.0,55.6,58.3,17.0,114.80,9.8
2,M. Turner,23:20,5.0,8.0,62.5,0.0,2.0,0.0,1.0,2.0,...,8.3,0.0,29.6,18.2,16.7,62.5,61.9,19.3,112.11,8.5
3,B. Brown,27:12,8.0,11.0,72.7,6.0,8.0,75.0,2.0,2.0,...,7.1,4.2,6.7,5.6,7.1,100.0,101.0,18.8,109.41,12.7
4,T. Haliburton,26:54,9.0,16.0,56.3,2.0,6.0,33.3,0.0,0.0,...,36.7,0.0,10.3,5.2,10.0,62.5,62.5,25.7,114.21,16.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
716,O. Toppin,18:39,4.0,6.0,66.7,0.0,1.0,0.0,2.0,4.0,...,11.1,4.5,15.0,9.5,0.0,66.7,64.4,17.4,104.24,12.6
717,J. Smith,17:58,2.0,5.0,40.0,0.0,2.0,0.0,2.0,2.0,...,30.0,5.6,32.0,20.9,10.0,40.0,51.0,16.3,101.52,16.5
718,T. McConnell,17:29,4.0,8.0,50.0,1.0,1.0,100.0,0.0,0.0,...,30.8,0.0,0.0,0.0,7.7,56.3,56.3,21.4,101.58,11.3
719,B. Sheppard,17:27,2.0,5.0,40.0,0.0,3.0,0.0,0.0,0.0,...,0.0,5.9,4.8,5.3,0.0,40.0,40.0,11.9,104.53,1.7
720,J. Walker,6:51,1.0,2.0,50.0,1.0,2.0,50.0,0.0,0.0,...,0.0,25.0,11.1,15.4,0.0,75.0,75.0,13.3,98.10,8.8

In [122]:
merged_data = pd.merge(box_player, hustle_player, on=['PLAYER', 'Game ID'], suffixes=('_box', '_hustle'))
merged_data

,PLAYER,MIN_box,FGM,FGA,FG%,3PM,3PA,3P%,FTM,FTA,...,OFF LOOSE BALLS\nRECOVERED,DEF LOOSE BALLS\nRECOVERED,LOOSE BALLS\nRECOVERED,CHARGES\nDRAWN,CONTESTED\n2PT SHOTS,CONTESTED\n3PT SHOTS,CONTESTED\nSHOTS,OFF\nBOX OUTS,DEF\nBOX OUTS,BOX OUTS
0,B. Mathurin,25:50,6.0,15.0,40.0,2.0,6.0,33.3,4.0,4.0,...,0,0,0,0,1,2,3,0,1,1
1,O. Toppin,19:14,4.0,9.0,44.4,2.0,5.0,40.0,1.0,1.0,...,0,1,1,0,3,0,3,0,1,1
2,M. Turner,23:20,5.0,8.0,62.5,0.0,2.0,0.0,1.0,2.0,...,0,0,0,0,6,2,8,0,2,2
3,B. Brown,27:12,8.0,11.0,72.7,6.0,8.0,75.0,2.0,2.0,...,0,0,0,0,3,3,6,0,0,0
4,T. Haliburton,26:54,9.0,16.0,56.3,2.0,6.0,33.3,0.0,0.0,...,0,0,0,0,2,1,3,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
726,O. Toppin,18:39,4.0,6.0,66.7,0.0,1.0,0.0,2.0,4.0,...,0,0,0,0,1,1,2,0,0,0
727,J. Smith,17:58,2.0,5.0,40.0,0.0,2.0,0.0,2.0,2.0,...,0,0,0,0,1,0,1,0,1,1
728,T. McConnell,17:29,4.0,8.0,50.0,1.0,1.0,100.0,0.0,0.0,...,0,0,0,0,0,1,1,0,0,0
729,B. Sheppard,17:27,2.0,5.0,40.0,0.0,3.0,0.0,0.0,0.0,...,0,0,0,0,2,0,2,0,1,1
730,J. Walker,6:51,1.0,2.0,50.0,1.0,2.0,50.0,0.0,0.0,...,0,0,0,0,1,0,1,0,0,0

In [136]:
# Merge box_player and advanced_player on 'PLAYER' and 'Game ID' columns
merged_data = pd.merge(box_player, advanced_player, on=['PLAYER', 'Game ID'], how='outer', indicator=True)

# Filter rows that didn't merge from both sides (left_only and right_only)
unmerged_rows = merged_data[merged_data['_merge'] != 'both']

# Display the unmerged rows
print(unmerged_rows)

            PLAYER  MIN_x   FGM   FGA   FG%  3PM   3PA    3P%  FTM  FTA  ...  \
150       B. Hield  38:28   7.0  15.0  46.7  5.0  11.0   45.5  1.0  1.0  ...
151      O. Toppin  24:28   1.0   6.0  16.7  0.0   3.0    0.0  1.0  2.0  ...
152      M. Turner  29:19   9.0  11.0  81.8  2.0   4.0   50.0  4.0  4.0  ...
153    A. Nembhard  36:24   8.0  10.0  80.0  1.0   1.0  100.0  0.0  0.0  ...
154  T. Haliburton  39:54  12.0  22.0  54.5  3.0   5.0   60.0  2.0  3.0  ...
155    B. Mathurin  16:18   1.0   5.0  20.0  0.0   2.0    0.0  0.0  0.0  ...
156       J. Smith  14:38   4.0   5.0  80.0  3.0   4.0   75.0  0.0  1.0  ...
157     A. Nesmith  27:45   1.0   5.0  20.0  1.0   4.0   25.0  0.0  0.0  ...
158     I. Jackson   5:56   0.0   2.0   0.0  0.0   0.0    0.0  0.0  0.0  ...
159   T. McConnell   6:50   0.0   1.0   0.0  0.0   0.0    0.0  1.0  2.0  ...
731       B. Hield    NaN   NaN   NaN   NaN  NaN   NaN    NaN  NaN  NaN  ...
732      O. Toppin    NaN   NaN   NaN   NaN  NaN   NaN    NaN  NaN  NaN  ...
733      M. Turner    NaN   NaN   NaN   NaN  NaN   NaN    NaN  NaN  NaN  ...
734    A. Nembhard    NaN   NaN   NaN   NaN  NaN   NaN    NaN  NaN  NaN  ...
735  T. Haliburton    NaN   NaN   NaN   NaN  NaN   NaN    NaN  NaN  NaN  ...
736    B. Mathurin    NaN   NaN   NaN   NaN  NaN   NaN    NaN  NaN  NaN  ...
737       J. Smith    NaN   NaN   NaN   NaN  NaN   NaN    NaN  NaN  NaN  ...
738     A. Nesmith    NaN   NaN   NaN   NaN  NaN   NaN    NaN  NaN  NaN  ...
739     I. Jackson    NaN   NaN   NaN   NaN  NaN   NaN    NaN  NaN  NaN  ...
740   T. McConnell    NaN   NaN   NaN   NaN  NaN   NaN    NaN  NaN  NaN  ...

     OREB%  DREB%  REB%  TO RATIO   EFG%    TS%  USG%    PACE   PIE  \
150    NaN    NaN   NaN       NaN    NaN    NaN   NaN     NaN   NaN
151    NaN    NaN   NaN       NaN    NaN    NaN   NaN     NaN   NaN
152    NaN    NaN   NaN       NaN    NaN    NaN   NaN     NaN   NaN
153    NaN    NaN   NaN       NaN    NaN    NaN   NaN     NaN   NaN
154    NaN    NaN   NaN       NaN    NaN    NaN   NaN     NaN   NaN
155    NaN    NaN   NaN       NaN    NaN    NaN   NaN     NaN   NaN
156    NaN    NaN   NaN       NaN    NaN    NaN   NaN     NaN   NaN
157    NaN    NaN   NaN       NaN    NaN    NaN   NaN     NaN   NaN
158    NaN    NaN   NaN       NaN    NaN    NaN   NaN     NaN   NaN
159    NaN    NaN   NaN       NaN    NaN    NaN   NaN     NaN   NaN
731    3.4   18.8  11.5      11.1   63.3   64.8  21.0   94.84   8.8
732    0.0   28.6  14.3       0.0   16.7   21.8  12.5   98.09   1.7
733    4.8   22.2  14.6       7.1   90.9   94.0  22.6   93.33  21.5
734    3.7    0.0   1.8       6.3   85.0   85.0  14.3   92.31  11.5
735    0.0    6.3   3.1       7.5   61.4   62.2  28.7   95.04  19.4
736    0.0   16.7   6.7      14.3   20.0   20.0  14.6  104.54  -1.6
737    7.7   12.5   9.5      25.0  110.0  101.1  22.6   96.77   7.0
738    3.8    9.1   6.3      36.4   30.0   30.0  14.8   94.27  -3.8
739   22.2   20.0  21.4       0.0    0.0    0.0  12.5  101.12 -22.2
740    0.0    0.0   0.0      20.0    0.0   26.6  17.6  105.37   0.0

         _merge
150   left_only
151   left_only
152   left_only
153   left_only
154   left_only
155   left_only
156   left_only
157   left_only
158   left_only
159   left_only
731  right_only
732  right_only
733  right_only
734  right_only
735  right_only
736  right_only
737  right_only
738  right_only
739  right_only
740  right_only

[20 rows x 39 columns]

In [137]:
print(advanced_player)

            PLAYER    MIN  OFFRTG  DEFRTG  NETRTG  AST%  AST/TO  AST RATIO  \
0      B. Mathurin  25:50   127.4   106.6    20.9  20.0     2.5       20.8
1        O. Toppin  19:14   137.0   121.7    15.2   5.3     0.0       10.0
2        M. Turner  23:20   137.0   109.1    27.9   4.2     0.5        8.3
3         B. Brown  27:12   141.0   112.7    28.3   3.8     1.0        7.1
4    T. Haliburton  26:54   125.0   115.6     9.4  52.4     3.7       36.7
..             ...    ...     ...     ...     ...   ...     ...        ...
991      O. Toppin  18:39    97.6   100.0    -2.4   7.7     0.0       11.1
992       J. Smith  17:58   110.3   108.1     2.1  21.4     3.0       30.0
993   T. McConnell  17:29   113.2   111.1     2.0  33.3     4.0       30.8
994    B. Sheppard  17:27   110.3   121.6   -11.4   0.0     0.0        0.0
995      J. Walker   6:51   157.1   121.4    35.7   0.0     0.0        0.0

     OREB%  DREB%  REB%  TO RATIO   EFG%    TS%  USG%    PACE   PIE  \
0      0.0   13.8   7.4       8.3   46.7   53.7  27.5  114.26  11.7
1      5.0   17.6  10.8       0.0   55.6   58.3  17.0  114.80   9.8
2      0.0   29.6  18.2      16.7   62.5   61.9  19.3  112.11   8.5
3      4.2    6.7   5.6       7.1  100.0  101.0  18.8  109.41  12.7
4      0.0   10.3   5.2      10.0   62.5   62.5  25.7  114.21  16.8
..     ...    ...   ...       ...    ...    ...   ...     ...   ...
991    4.5   15.0   9.5       0.0   66.7   64.4  17.4  104.24  12.6
992    5.6   32.0  20.9      10.0   40.0   51.0  16.3  101.52  16.5
993    0.0    0.0   0.0       7.7   56.3   56.3  21.4  101.58  11.3
994    5.9    4.8   5.3       0.0   40.0   40.0  11.9  104.53   1.7
995   25.0   11.1  15.4       0.0   75.0   75.0  13.3   98.10   8.8

          Game ID
0    202310250IND
1    202310250IND
2    202310250IND
3    202310250IND
4    202310250IND
..            ...
991  202403120OKC
992  202403120OKC
993  202403120OKC
994  202403120OKC
995  202403120OKC

[731 rows x 18 columns]